.table {
    width: 900px;
}
.table,
td,
th {
    border: 1px solid black;
    font-size: 25px;
    background-color: yellow;
    color: rgb(89, 214, 31);
    border-collapse: collapse;
}
.table {
    width: 1350px;
}
.age {
    color: rgb(240, 94, 26);
}
h1
{
background: #000;
color: white;
text-align: center;
border-top-left-radius: 30px;
border-top-right-radius: 30px;
}

    
    

